.env
.idea

node_modules
vendor

**/db/mysql/*
!**/db/mysql/.gitkeep

**/log/*
!**/log/.gitkeep

**/static_data/*
!**/static_data/.gitkeep

homework/1/homestead/*
!homework/1/homestead/Homestead.yaml
!homework/1/homestead/code
