# версия синтаксиса
version: '3'

# в этом блоке мы описываем контейнеры, которые будут запускаться
services:
  #Контейнер с PHP, назовём его app1
  app1:
    # Если нет секции build, то система будет искать образ в репозиториях
    build:
      context: ./fpm
      dockerfile: Dockerfile
    image: myapp/php # имя будущего образа
    container_name: app1 # имя контейнера после запуска
    volumes:
      - ./code:/data/balance.local
    # мы можем создать для контейнеров внутреннюю сеть
    networks:
      - app-network

  #Контейнер с PHP, назовём его app1
  app2:
    # Если нет секции build, то система будет искать образ в репозиториях
    build:
      context: ./fpm
      dockerfile: Dockerfile
    image: myapp/php # имя будущего образа
    container_name: app2 # имя контейнера после запуска
    volumes:
      - ./code:/data/balance.local
    # мы можем создать для контейнеров внутреннюю сеть
    networks:
      - app-network

  memcached1:
    image: 'oktec/repcached:latest'
    container_name: memcached1
    restart: unless-stopped
    environment:
      - SLAVE=memcached2
    depends_on:
      - memcached2
    networks:
      - app-network

  memcached2:
    image: 'oktec/repcached:latest'
    container_name: memcached2
    restart: unless-stopped
    networks:
      - app-network

  #контейне с Nginx
  webserver:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: myapp/nginx
    container_name: webserver
    # проброс портов
    ports:
      - "80:80"
    volumes:
      - ./code:/data/balance.local
    depends_on:
      - app1
      - app2
      - memcached1
      - memcached2
    networks:
      - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge
