/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*--------------------*/

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    padding: 100px 30px 30px 30px;
    text-align: left;
}

.list {
    margin: 0 0 50px 0;
}

.form-gs {
    display: block;
    background-color: #ccc;
    border-radius: 5px;
    width: 340px;
    margin: 0 auto;
    padding: 15px 25px;
}

.form-gs__item {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.title-form {
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 20px 0;
}

.input-form {
    padding: 8px;
    flex: 2;
}
.label-form {
    padding: 8px 16px 8px 0;
    flex: 1;
}
.label-form:hover {
    color: #5d5d5d;
    cursor: pointer;
}
.but-send {
    background: #808080;
    color: #fff;
    border: 5px;
    padding: 8px;
}