<form enctype="multipart/form-data" action="index" method="post">
    <label for="text"><b>Message</b></label>
    <label>
        <input type="text" placeholder="Enter Text" name="text" required>
    </label>
    <label>
        <input name="userfile" type="file"/><br>
    </label>
    <button type="submit" class="registerbtn">Send</button>
</form>

<ul>
    {% for message in allMessages %}
        <li>
            <pre>{{ message.text }}</pre>
            <pre>{{ message.date }}</pre>
            <pre>{{ message.name }}</pre>
            {% for image in allIdWithImages %}
                {% if image.id == message.id %}
                    <img src="/images/{{ message.id }}.jpg" alt="pic">
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>

<style>
    li {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
    }
</style>