input {
	  beats {
	    port => 5044
	  }
	}
filter {
	  if [type] == "nginx-access" {
	    grok {
	      match => { "message" => "%{NGINXACCESS}" }
	    }
	  }
	}
output {
	  elasticsearch {
	    hosts => ["localhost"]
	    sniffing => true
	    manage_template => false
        index  => "nginx-%{+YYYY.MM.dd}"
	    document_type => "%{[@metadata][type]}"
	  }
	  stdout { codec => rubydebug }
	}